<br />
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.rname }}</h1>
  </div>
  <div class="col-md-12">
    <div class="dropdown">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-expanded="true"
        appDropdown
      >
        Manage
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" (click)="onAddToShopping()"
          >Add to Shopping List</a
        >
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <br />
    <img [src]="recipe.imagePath" height="150px" />
    <hr />
    Description:
    <br />
    <p>{{ recipe.description }}</p>
  </div>

  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
        {{ ing.name }} - {{ ing.amount }}
      </li>
    </ul>
  </div>
</div>
